<form name="DowntimeActionForm" style="min-width:300px;max-width:400px;">
    <p>
    <h1>Downtime Action</h1>
    <input type="hidden" value="{{status}}" name="{{id}}.status" data-dtype="String" />
    <input type="hidden" value="{{userId}}" name="{{id}}.userId" data-dtype="String" />
    <input type="hidden" value="{{id}}" name="{{id}}.id" data-dtype="String" />
    <div>
        <h3>Downtime Category</h3>
    </div>
    <div>
        <label style="margin-left:10px;" {{#isDowntimeDisabled 'label' status
            userId}}{{/isDowntimeDisabled}}>{{category}}</label>
    </div>
    <div>
        <select name="{{id}}.category" {{#isDowntimeDisabled 'player_edit' status userId}} {{/isDowntimeDisabled}}>
            {{#select category}}
            <option value="Carousing - Normal">Carousing - Normal</option>
            <option value="Carousing - Classy">Carousing - Classy</option>
            <option value="Crafting">Crafting</option>
            <option value="Diplomacy - Face to Face">Diplomacy - Face to Face</option>
            <option value="Diplomacy - Letters">Diplomacy - Letters</option>
            <option value="Diplomacy - Representative">Diplomacy - Representative</option>
            <option value="Hiring">Hiring</option>
            <option value="Meditation - Focus Points">Meditation - Focus Points</option>
            <option value="Meditation - Focus Spells">Meditation - Focus Spells</option>
            <option value="Natural Acquisitions - Fishing">Natural Acquisitions - Fishing</option>
            <option value="Natural Acquisitions - Foraging">Natural Acquisitions - Foraging</option>
            <option value="Natural Acquisitions - Hunting">Natural Acquisitions - Hunting</option>
            <option value="Research - Ask Around">Research - Ask Around</option>
            <option value="Research - Divination">Research - Divination</option>
            <option value="Research - Hit the Books">Research - Hit the Books</option>
            <option value="Research - Seek Within">Research - Seek Within</option>
            <option value="Taming">Taming</option>
            {{/select}}
        </select>
    </div>
    <div style="margin-top:5px;">
        <h3>Status:</h3>
        <label style="margin-left:10px;" name="{{id}}.status_label">{{status}}</label>
    </div>
    <div style="margin-top:5px;">
        <h3>Character:</h3>
        <label style="margin-left:10px;" {{#isDowntimeDisabled 'label' status
            userId}}{{/isDowntimeDisabled}}>{{character}}</label>
    </div>
    <div>
        <input type="text" value="{{character}}" name="{{id}}.character" data-dtype="String"
            {{#isDowntimeDisabled 'player_edit' status userId}} {{/isDowntimeDisabled}} />
    </div>
    <div style="margin-top:5px;">
        <h3>Description:</h3>
        <label style="margin-left:10px;" {{#isDowntimeDisabled 'label' status
            userId}}{{/isDowntimeDisabled}}>{{description}}</label>
    </div>
    <div>
        <textarea name="{{id}}.description" data-dtype="String" {{#isDowntimeDisabled 'player_edit' status userId}}
            {{/isDowntimeDisabled}}>{{description}}</textarea>
    </div>
    <div style="margin-top:5px;">
        <h3>Location:</h3>
        <label style="margin-left:10px;" {{#isDowntimeDisabled 'label' status
            userId}}{{/isDowntimeDisabled}}>{{location}}</label>
    </div>
    <div>
        <input type="text" value="{{location}}" name="{{id}}.location" data-dtype="String"
            {{#isDowntimeDisabled 'player_edit' status userId}} {{/isDowntimeDisabled}} />
    </div>
    <div style="margin-top:5px;">
        <h3>Costs:</h3>
        <label style="margin-left:10px;" {{#isDowntimeDisabled 'label' status
            userId}}{{/isDowntimeDisabled}}>{{costs}}</label>
    </div>
    <div>
        <input type="text" value="{{costs}}" name="{{id}}.costs" data-dtype="String" {{#isDowntimeDisabled 'player_edit'
            status userId}} {{/isDowntimeDisabled}} />
    </div>
    <div style="margin-top:5px;">
        <h3>Contingencies:</h3>
        <label style="margin-left:10px;" {{#isDowntimeDisabled 'label' status
            userId}}{{/isDowntimeDisabled}}>{{contingencies}}</label>
    </div>
    <div>
        <textarea name="{{id}}.contingencies" data-dtype="String" {{#isDowntimeDisabled 'player_edit' status userId}}
            {{/isDowntimeDisabled}}>{{contingencies}}</textarea>
    </div>
    <div style="margin-top:5px;">
        <h3>Rolls:</h3>
        <label style="margin-left:10px;" {{#isDowntimeDisabled 'label' status
            userId}}{{/isDowntimeDisabled}}>{{rolls}}</label>
    </div>
    <div>
        <textarea name="{{id}}.rolls" data-dtype="String" {{#isDowntimeDisabled 'player_edit' status userId}}
            {{/isDowntimeDisabled}}>{{rolls}}</textarea>
    </div>
    <div style="margin-top:5px;">
        <h3 {{#isDowntimeDisabled 'gmlabel' status userId}} {{/isDowntimeDisabled}}>GM Results Response:</h3>
        <label style="margin-left:10px;" {{#isDowntimeDisabled 'gmlabel' status
            userId}}{{/isDowntimeDisabled}}>{{gmresults}}</label>
        <h3 {{#isDowntimeDisabled 'gmresults' status userId}} {{/isDowntimeDisabled}}>GM Results Response:</h3>
    </div>
    <div>
        <textarea name="{{id}}.gmresults" data-dtype="String" {{#isDowntimeDisabled 'gmresults' status userId}}
            {{/isDowntimeDisabled}}>{{gmresults}}</textarea>
    </div>
    </p>
    <button type="button" data-action="accept" {{#isDowntimeDisabled 'accept_button' status
        userId}}{{/isDowntimeDisabled}}><i class="fas fa-plus"></i>"{{localize
        "CMV-Downtime.accept"}}"</button>
    <button type="button" data-action="reject" {{#isDowntimeDisabled 'reject_button' status
        userId}}{{/isDowntimeDisabled}}><i class="fas fa-minus"></i>"{{localize
        "CMV-Downtime.reject"}}"</button>
    <button type="button" data-action="submit" {{#isDowntimeDisabled 'submit_button' status
        userId}}{{/isDowntimeDisabled}}><i class="fas fa-plus"></i>"{{localize
        "CMV-Downtime.submit"}}"</button>
    <button type="button" data-action="close" {{#isDowntimeDisabled 'close_button' status
        userId}}{{/isDowntimeDisabled}}><i class="fas fa-minus"></i>"{{localize
        "CMV-Downtime.close"}}"</button>
</form>