<form>
    <ul class="downtime-list flexcol">
        {{#each downtimes}}
        <li class="flexrow" data-downtime-id="{{id}}">
            <label name="{{id}}.character">{{character}}</label>
            <label name="{{id}}.category">{{category}}</label>
            <label name="{{id}}.status_label">{{status}}</label>
            <button type="button" title="{{localize " CMV-Downtime.edit-downtime"}}" data-action="edit"
                class="flex0 downtime-list-icon-button">
                <i class="fas fa-pencil"></i>
            </button>
            <button type="button" title="{{localize " CMV-Downtime.delete-downtime"}}" data-action="delete"
                class="flex0 downtime-list-icon-button">
                <i class="fas fa-trash"></i>
            </button>
        </li>
        {{/each}}
    </ul>
    <button type="button" data-action="create"><i class="fas fa-plus"></i>"{{localize
        "CMV-Downtime.add-downtime"}}"</button>
</form>